:root {
  --brand: #01b5fb;
  --sub: #6ac754;
  --body: #516171;
  --border: rgba(0, 0, 0, 0.08);
  --shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

/* Path */

.banner-area {

  position: relative;

  min-height: 300px;

  color: #fff;

/* background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(../img/path1.avif)fixed; */

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

}



.banner-title {

  color: #fff;

  /* text-transform: uppercase; */

  font-size: 58px;

  font-weight: 600;

}



@media (max-width: 767px) {

  .banner-title {

    font-size: 48px;

  }

}

@media (max-width: 575px) {

  .banner-title {

    font-size: 32px;

  }

}
.banner-text {

  position: absolute;

  top: 50%;

  left: 0;

  right: 0;

  max-width: 1170px;

  margin: 0 auto;

  width: 100%;

  z-index: 1;

  -webkit-transform: translateY(-50%);

  transform: translateY(-50%);

}
.banner-heading {

  text-align: center;

}
.breadcrumb {

  padding: 0;

  background: none;

  font-weight: 700;

  text-transform: uppercase;

  font-size: 12px;
}


.breadcrumb li a,

.breadcrumb .breadcrumb-item,

.breadcrumb li a:focus {

  color: #fff !important;
   text-decoration: none;

}

.breadcrumb li a:hover {

  text-decoration: underline;

}

.breadcrumb .breadcrumb-item+.breadcrumb-item::before {

  color: #fff;

}